<app-header></app-header>
<app-sidebar></app-sidebar>



    <div class="col-sm-9 col-sm-offset-0 col-lg-10 col-lg-offset-2 main">
        <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="container emp-profile col-xs-12 col-md-6 col-lg-10 col-lg-offset-2 main">
    <div class="container emp-profile">
        <form [formGroup]="editUserForm" (ngSubmit)="editUserSubmit()" enctype="multipart/form-data">
            <div class="profile-head mb-4 pt-2">
                <div class="row">
                    <div class="col-md-12">
                        
                            <h2 class="title">Edit profile :</h2>
                   
                        <!-- <a (click)="changePassword()">Change password</a> -->
                       <a class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#changepassword-modal" >Change password</a>
                    </div>
                </div>
            </div>
                <div>
                </div>
            <div class="tab-content profile-tab" id="myTabContent">
                
                    <div class="row">
                        <div class="col-md-6">
                                <div class="row">
                                        <div class="col-md-4">
                                            <label>Firstname</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" formControlName="firstname" class="form-control" value="" />
                                            <div *ngIf="editUserForm.controls['firstname'].errors && (editUserForm.controls['firstname'].dirty || editUserForm.controls['firstname'].touched)">
                                                <span class="error" *ngIf="editUserForm.controls['firstname'].errors.required">
                                                    Firstname is required.
                                                </span>
                                                <span class="error" *ngIf="editUserForm.controls['firstname'].errors.pattern">
                                                    Firstname is invalid.
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Mobile number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" formControlName="mobilenumber" class="form-control" value="" min="0" />
                                            <div *ngIf="editUserForm.controls['mobilenumber'].errors && (editUserForm.controls['mobilenumber'].dirty || editUserForm.controls['mobilenumber'].touched)">
                                                <span class="error" *ngIf="editUserForm.controls['mobilenumber'].errors.required">
                                                    Mobile number is required.
                                                </span>
                                                <span class="error" *ngIf="editUserForm.controls['mobilenumber'].errors.pattern">
                                                    Mobile number is invalid.
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" formControlName="email" class="form-control" value="" disabled />
                                            <div *ngIf="editUserForm.controls['email'].errors && (editUserForm.controls['email'].dirty || editUserForm.controls['email'].touched)">
                                                <span class="error" *ngIf="editUserForm.controls['email'].errors.required">
                                                    Email is required.
                                                </span>
                                                <span class="error" *ngIf="editUserForm.controls['email'].errors.pattern">
                                                    Email is invalid.
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Gender</label>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- <input type="text" formControlName="gender" class="form-control" value="" /> -->
                                            <select formControlName="gender" class="form-control">
                                                <option disabled selected>Select gender--</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                            <div *ngIf="editUserForm.controls['gender'].errors && (editUserForm.controls['gender'].dirty || editUserForm.controls['gender'].touched)">
                                                <span class="error" *ngIf="editUserForm.controls['gender'].errors.required">
                                                    Gender is required.
                                                </span>
                                                <span class="error" *ngIf="editUserForm.controls['gender'].errors.pattern">
                                                    Gender is invalid.
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                   
                                    <!-- <div class="row">
                                            <div class="col-md-4">
                                                <label>Email signature</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" formControlName="emailsignature" class="form-control" value="" />
                                                <div *ngIf="editUserForm.controls['emailsignature'].errors && (editUserForm.controls['emailsignature'].dirty || editUserForm.controls['emailsignature'].touched)">
                                                    <span class="error" *ngIf="editUserForm.controls['emailsignature'].errors.required">
                                                    Email signature is required.
                                                    </span>
                                                    <span class="error" *ngIf="editUserForm.controls['emailsignature'].errors.pattern">
                                                    Email signature is invalid.
                                                    </span>
                                                </div>
                                            </div>
                                        </div><br> -->
                        </div>
                        <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Lastname</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" formControlName="lastname" class="form-control" value="" />
                                            <div *ngIf="editUserForm.controls['lastname'].errors && (editUserForm.controls['lastname'].dirty || editUserForm.controls['lastname'].touched)">
                                                <span class="error" *ngIf="editUserForm.controls['lastname'].errors.required">
                                                    Lastname is required.
                                                </span>
                                                <span class="error" *ngIf="editUserForm.controls['lastname'].errors.pattern">
                                                    Lastname is invalid.
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Office number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" formControlName="officenumber" class="form-control" value="" min="0" />
                                            <div *ngIf="editUserForm.controls['officenumber'].errors && (editUserForm.controls['officenumber'].dirty || editUserForm.controls['officenumber'].touched)">
                                                <span class="error" *ngIf="editUserForm.controls['officenumber'].errors.required">
                                                    Officenumber is required.
                                                </span>
                                                <span class="error" *ngIf="editUserForm.controls['officenumber'].errors.pattern">
                                                    Officenumber is invalid.
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Address</label>
                                        </div>
                                        <div class="col-md-6">
                                            <textarea type="text" formControlName="address" class="form-control" value="" ></textarea>
                                            <div *ngIf="editUserForm.controls['address'].errors && (editUserForm.controls['address'].dirty || editUserForm.controls['address'].touched)">
                                                <span class="error" *ngIf="editUserForm.controls['address'].errors.required">
                                                    Address is required.
                                                </span>
                                                <span class="error" *ngIf="editUserForm.controls['address'].errors.pattern">
                                                    Address is invalid.
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Job title</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" formControlName="jobtitle" class="form-control" value="" />
                                            <div *ngIf="editUserForm.controls['jobtitle'].errors && (editUserForm.controls['jobtitle'].dirty || editUserForm.controls['jobtitle'].touched)">
                                                <span class="error" *ngIf="editUserForm.controls['jobtitle'].errors.required">
                                                    Jobtitle is required.
                                                </span>
                                                <span class="error" *ngIf="editUserForm.controls['jobtitle'].errors.pattern">
                                                    Jobtitle is invalid.
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <!-- <div class="row">
                                        <div class="col-md-4">
                                            <label>License number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" formControlName="licensenumber" class="form-control" value="" />
                                            <div *ngIf="editUserForm.controls['licensenumber'].errors && (editUserForm.controls['licensenumber'].dirty || editUserForm.controls['licensenumber'].touched)">
                                                <span class="error" *ngIf="editUserForm.controls['licensenumber'].errors.required">
                                                    Licensenumber is required.
                                                </span>
                                                <span class="error" *ngIf="editUserForm.controls['licensenumber'].errors.pattern">
                                                    Licensenumber is invalid.
                                                </span>
                                            </div>
                                        </div>
                                    </div><br> -->
    
                        </div>
                    </div>
    
    
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <label>Email signature image</label>
                        </div>
                        <div class="col-md-9">
                            <input type="file" formControlName="emailsignatureimage" class="form-control" name="image" (change)="filechange($event)" />
                            <div *ngIf="editUserForm.controls['emailsignature'].errors && (editUserForm.controls['emailsignature'].dirty || editUserForm.controls['emailsignature'].touched)">
                                <span class="error" *ngIf="editUserForm.controls['emailsignature'].errors.required">
                                Email signature image is required
                                </span>
                            </div>
                        </div>
                    </div><br> -->
    
                    <div class="row pt-4">
                        <div class="col-md-5">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col-md-7">
                            <div *ngIf="editProfileFail"> 
                                <span style="color:red;">Please enter all valid details</span>
                            </div>
                            <div>&nbsp;</div>
                            <button type="submit" class="btn btn-primary" >Save changes</button>&nbsp;&nbsp;
                            <!-- <button type="button" pButton icon="pi pi-close" (click)="edituser=false; resetForm()" label="Cancel" class="ui-button-secondary"></button> -->
                        </div>
                        <div>
                            &nbsp;
                        </div>
                    </div>
               
            </div>
        </form>           
    </div>
</div>



<app-footer></app-footer>

