<!-- Wrapper -->
<div class="wrapper">
  <app-header></app-header>


<div *ngIf="setPassword; else usernotauthenticated" class="row" style="margin:0 auto; padding: 20px;">
  <div class="col col-md-4" style="margin: 0 auto;">
      <form [formGroup]="setNewPasswordForm" (ngSubmit)="onSubmit()">

          <div class="profile-head mb-4 pt-2">
              <div class="row">
                  <div class="col-md-12">
                      
                          <h2 class="title">Set your password now</h2>
                 
                      <!-- <a (click)="changePassword()">Change password</a> -->
                     <!-- <a (click)="changePassword()" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#changepassword-modal" >Change password</a> -->
                  </div>
              </div>
          </div>

          <label>Password</label>
          <input class="form-control" type="password" formControlName="password" placeholder="Password" required />
          <div *ngIf="setNewPasswordForm.controls['password'].errors && (setNewPasswordForm.controls['password'].dirty || setNewPasswordForm.controls['password'].touched)">
            <span class="error" *ngIf="setNewPasswordForm.controls['password'].errors.required">
              Password is required.
            </span>
            <span class="error" *ngIf="setNewPasswordForm.controls['password'].errors.pattern">
                Minimun 8 characters required including one lowercase,one uppercase alphabet and one number
            </span>
          </div>
          <hr>

          <label>Confirm password</label>
          <input class="form-control" type="password" formControlName="confirmpassword" placeholder="Confirn password" required />
          <div *ngIf="setNewPasswordForm.controls['confirmpassword'].errors && (setNewPasswordForm.controls['confirmpassword'].dirty || setNewPasswordForm.controls['confirmpassword'].touched)">
            <span class="error" *ngIf="setNewPasswordForm.controls['confirmpassword'].errors.required">
              Confirm password is required.
            </span>
            <span class="error" *ngIf="setNewPasswordForm.controls['confirmpassword'].errors.pattern">
              Minimun 8 characters required including one lowercase,one uppercase alphabet and one number
            </span>
          </div>
          <hr>
          <div class="row" *ngIf="passwordFail">
            <div class="col-md-12">
              <span style="color:red;">Please enter valid password in both fields</span>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="row" *ngIf="passwordMatchFail">
            <div class="col-md-12">
              <span style="color:red;">Passwords do not match</span>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="row">
            <div class="col col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Set new password</button>
            </div>
          </div>
      </form>
  </div>
</div>

<ng-template #usernotauthenticated>
  <div class="row" style="margin:0 auto; padding: 20px;">
    <div class="col col-md-4" style="margin: 0 auto;">
      <div class="profile-head mb-4 pt-2">
          <div class="row">
              <div class="col-md-12">
                  
                      <h2 class="title">The link you clicked is expired now</h2>
             
                  <!-- <a (click)="changePassword()">Change password</a> -->
                 <!-- <a (click)="changePassword()" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#changepassword-modal" >Change password</a> -->
              </div>
          </div>
      </div>
    </div>  
  </div>
</ng-template>

<app-footer></app-footer>

</div>
